<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body class="container">
  <form class="col-6 mx-auto card p-3 shadow-lg my-5" action='/receipe/' method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Add Receipe</h2>
    <div class="form-group">
        <label for="exampleInputEmail1">Receipe name</label>
        <input name="receipe_name" type="text" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Receipe decsription</label>
        <textarea name="desc" class="form-control" required></textarea>
    </div>

    <div class="form-check">
        <label class="form-check-label" for="exampleCheck1">Receipe image</label>
        <input name="receipe-image" type="file" class="form-control">

    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>

<hr>

<div class='container my-2'>
<form class="form-inline w-100" method="get">
  <div class="row w-100">
    <div class="col-10 pr-2"> 
     <input class="form-control mr-sm-2 w-100" name='search_receipe' type="search" placeholder="Search" aria-label="Search">
    </div>
    <div class="col-2 pl-0">
      <button class="btn btn-outline-success my-sm-0 " type="submit">Search</button>
    </div>
  </div>
</form>
</div>

{% if all_receipes %}
<table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Receipe</th>
      <th scope="col">Description</th>
      <th scope="col">Image</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  {% endif %}
  <tbody>
    {% for receipe in all_receipes %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{receipe.receipe_name}}</td>
      <td>{{receipe.desc}}</td>
      <td><img src="/media/{{receipe.image}}" alt="noimage" style="height:100px"></td>
      <td>
        <a href="delete/{{receipe.id}}/" class="btn btn-danger mb-1"> Delete </a>
        <a href="update/{{receipe.id}}/" class="btn btn-success"> Update </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>