{% extends 'receipe_base.html' %}

{% block body %}

<div class="container mt-2">
  <div class="row">
    <div class="col-md-6">
      <form class="d-flex" role="search">
        <input class="form-control me-2" name='search' type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>

<table class="table table-striped my-2">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">department</th>
        <th scope="col">student_name</th>
        <th scope="col">student_email</th>
        <th scope="col">student_age</th>
        <th scope="col">student_address</th>
      </tr>
    </thead>
    <tbody>
    {% for student in page_obj%}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{student.department.department}}</td>
        <td>{{student.student_name}}</td>
        <td>{{student.student_email}}</td>
        <td>{{student.student_age}}</td>
        <td>{{student.student_address}}</td>
    {% endfor %}
    </tr>
    </tbody>
</table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
                
            {% for page_number in total_pages%}
            <li class="page-item"><a class="page-link" href="?page={{page_number}}">{{page_number}}</a></li>
            {% endfor %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    </ul>
</nav>
{% endblock %}